<div class="container">
    <h2>Lista de Productos</h2>
    <div class="card-container">
        @for (p of productos; track p.nombre) {
            @if (p.stock > 0) {
                <div class="card" style="width: 19rem;" [ngClass]="{'border-warning': p.stock < 5 }">
                    @if (p.stock < 5) {
                        <span class="badge rounded-pill text-bg-warning"> Últimas unidades</span>
                    }
                    <img [src]="p.imageURL" class="card-img-top" alt="{{p.nombre}}">
                    <div class="card-body">
                        <h5 class="card-title">{{p.nombre}}</h5>
                        <p class="card-text">Precio: S/. {{ p.precio }}</p>
                        <button class="btn" (click)="comprar(p)">Comprar</button>
                    </div>
                </div>
                }
        }
    </div>
</div>